<div id="nome_lancheria" >
	<h1>Lancheria do Mauro</h1>
</div>
<div>
	<div>
		<ul>
			<li><a href="http://127.0.0.1:5000">Página inicial</a></li>
			<li><a href="http://127.0.0.1:5000/Acompanha_pedidos">Fila de Pedidos</a></li>
			<li><a href="http://127.0.0.1:5000/Cadastro_cliente">Cadastro cliente</a></li>
			<li><a href="http://127.0.0.1:5000/Cadastro_pedido">Pedidos</a></li>
			<li><a href="http://127.0.0.1:5000/Cardapio">Cardapio</a></li>
			<li><a href="http://127.0.0.1:5000/Login">Login</a></li>
			<li><a href="http://127.0.0.1:5000/Sobre">Quem Somos</a></li>
		</ul>
	</div>

</div>