<!DOCTYPE html>

<html lang="pt-br">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Lancheria do Mauro</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

	<link rel="stylesheet" href="style.css"> 

	<style>

		


	</style>

</head>

<body>

	<div>
		{% include 'cabecalho.html' %}
	</div>

<div class="form-group d-flex justify-content-center">
	<div id="cardapio_escolha" class="col-sm-2 justify-content-center">

				<div>Xis Salada</div>

				<div>Xis Galinha</div>
			
				<div>Xis Calabresa</div>
			
				<div>Xis Lombo</div>
			
				<div>Xis Coração</div>
			
				<div>Hamburguer Simples</div>
			
				<div>Hamburguer da Casa</div>
			
				<div>Cachorro Simples</div>
		
				<div>Cachorro Completo</div>
			
				<div>Fritas Pequena</div>
			
				<div>Fritas Grande</div>
			
				<div>Refrigerante Lata</div>
			
				<div>Refrigerante 600ml</div>
	</div>

	<div id="cardapio_escolha_valores" class="col-sm-2 justify-content-center">

				<div>R$ 10,00</div>

				<div>R$ 11,00</div>
			
				<div>R$ 12,00</div>
			
				<div>R$ 13,00</div>
			
				<div>R$ 14,00</div>
			
				<div>R$ 15,00</div>
			
				<div>R$ 16,00</div>
			
				<div>R$ 10,00</div>
		
				<div>R$ 15,00</div>
			
				<div>R$ 10,00</div>
			
				<div>R$ 15,00</div>
			
				<div>R$ 5,00</div>
			
				<div>R$ 7,00</div>
	</div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>

</body>

</html>