<!DOCTYPE html>

<html lang="pt-br">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Lancheria do Mauro</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

	<link rel="stylesheet" href="style.css"> 

	<style>

		


	</style>

</head>

<body>

	<div>
		{% include 'cabecalho.html' %}
	</div>

<form action="{{ url_for('salvar_pedidos') }}" method="post">
	<div class="form-group d-flex justify-content-center">
		
		<div class="col-sm-4">
			
		</div>

		<div id="nomes_lanches" class="col-sm-2">
			<div>Xis Salada</div>
			<div>Xis Galinha</div>
			<div>Xis Calabresa</div>
			<div>Xis Lombo</div>
			<div>Xis Coração</div>
			<div>Hamburguer Simples</div>
			<div>Hamaburguer da Casa</div>
			<div>Cachorro Simples</div>
			<div>Cachorro completo</div>
			<div>Fritas pequena</div>
			<div>Fritas grande</div>
			<div>Refrigerante Lata</div>
			<div>Refrigerante 600ml</div>

		</div>


		<div id="valores_lanches" class="col-sm-1">
			<div>R$ 10,00</div>
			<div>R$ 11,00</div>
			<div>R$ 12,00</div>
			<div>R$ 13,00</div>
			<div>R$ 14,00</div>
			<div>R$ 15,00</div>
			<div>R$ 16,00</div>
			<div>R$ 10,00</div>
			<div>R$ 15,00</div>
			<div>R$ 10,00</div>
			<div>R$ 15,00</div>
			<div>R$ 5,00</div>
			<div>R$ 7,00</div>
		</div>

		<div id="in_quantidades" class="col-sm-1 form-group" style="margin-top:10px;">
			<div><input type="number" id="xsalada" name="xsalada" class="form-control"></div>
			<div><input type="number" id="xgalinha" name="xgalinha" class="form-control"></div>
			<div><input type="number" id="xcalabresa "name="xcalabresa" class="form-control"></div>
			<div><input type="number" id="xlombo" name="xlombo" class="form-control"></div>
			<div><input type="number" id="xcoracao" name="xcoracao" class="form-control"></div>
			<div><input type="number" id="hsimples" name="hsimples" class="form-control"></div>
			<div><input type="number" id="hcasa" name="hcasa" class="form-control"></div>
			<div><input type="number" id="csimples" name="csimples" class="form-control"></div>
			<div><input type="number" id="ccasa" name="ccasa" class="form-control"></div>
			<div><input type="number" id="fritasp" name="fritasp" class="form-control"></div>
			<div><input type="number" id="fritasg" name="fritasg" class="form-control"></div>
			<div><input type="number" id="refril" name="refril" class="form-control"></div>
			<div><input type="number" id="refrig" name="refrig" class="form-control"></div>
		</div>

		<div class="col-sm-4">
			
		</div>

		<div class="col-sm-12 fixed-bottom form-group d-flex justify-content-center">
			
			<button class="btn btn-primary" type="submit">Efetuar Pedido</button>

		</div>

</div>
</form>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
crossorigin="anonymous"></script>

</body>

</html>